.empty-content {margin-top: 10%; display: flex; justify-content: center; align-items: center; text-align: center;}
.empty-content .empty-area h1 {font-family: 'Poppins', sans-serif; font-size: 18px; color: #29292E; margin: 20px 0px;}
.empty-content .empty-area p {font-size: 14px; color: #737380;}
.empty-content .empty-area p a {color: var(--color-5);}